﻿@model MvcRaamatuKogu.Models.KasutajaAndmed
@{
    ViewBag.Title = "Andmed";
    Layout = "~/Views/Shared/UserView.cshtml";
}
<h2>@Model.eesNimi kasutaja andmed
</h2>
<fieldset  style="width:auto; float:left">
    <legend>Veebikeskonda teie poolt lisatud andmed</legend>
    <div>
        <p>
            Nimi:<br />
            <b>@Html.DisplayFor(model => model.eesNimi)
                @Html.DisplayFor(model => model.pereNimi)
            </b>
        </p>
         <p>
            Sünniaeg:<br />
            <b>@Html.DisplayFor(model => model.synniKuup)</b>
        </p>
        <p>
            Meiliaadress:<br />
            <b>@Membership.GetUser(User.Identity.Name).Email.ToString()</b>
        </p>
        <br />
    </div>
</fieldset>
