﻿@model MvcRaamatuKogu.Models.Item

@{
    Layout = "../Shared/UserView.cshtml";
    ViewBag.Title = @Model.Title;
}

<h2>Valitud raamat</h2>

<fieldset>
    <legend>@Model.Title</legend>

    <b class="display-label">Kategooria</b>
    <p class="display-field">
        @Html.DisplayFor(model => model.Categories.Name)
    </p>

    <b class="display-label">Autor</b>
    <p class="display-field">
        @Html.DisplayFor(model => model.Autors.Perekonnanimi)
    </p>

    <b class="display-label">Pealkiri</b>
    <p class="display-field">
        @Html.DisplayFor(model => model.Title)
    </p>

    <b class="display-label">Lisatud</b>
    <p class="display-field">
        @Html.DisplayFor(model => model.Lisatud)
    </p>

    <b class="display-label">Laenutatud</b>
    <p class="display-field">
        @Html.DisplayTextFor(model => model.laenutatud)
    </p>
    <b class="display-label">Saadaval</b>
    <p class="display-field">
        @Html.DisplayTextFor(model => model.IsPublic)
    </p>
</fieldset>
<p>
    @Html.ActionLink("Muuda", "Muuda", new { id=Model.ItemId }) |
    @Html.ActionLink("Tagasi Listi", "Index")
</p>
