﻿@model MvcRaamatuKogu.Models.Item

@{
    ViewBag.Title = "LisaRaamat";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<h2>LisaRaamat</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
              @Html.DropDownList("CategoryId", "--Vali kategooria--")
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>
       <div class="editor-label">
            @Html.LabelFor(model => model.Autors.Perekonnanimi, "Autor")
        </div>
        <div class="editor-field">
             @Html.EditorFor(model => model.Autors.Perekonnanimi)
            @Html.ValidationMessageFor(model => model.Autors.Perekonnanimi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.IsPublic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPublic)
            @Html.ValidationMessageFor(model => model.IsPublic)
        </div>
       
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
