﻿<ul id="categories">
<li><h2 class="pealkiri">Minu andmed</h2></li>
  <li>@Html.ActionLink(User.Identity.Name.ToString(),"Andmed", "Profile", 
    new { userID = Membership.GetUser(User.Identity.Name).ProviderUserKey }, 
    null)
    </li>
  <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>
  <li>@Html.ActionLink("Lisa raamat", "LisaRaamat", "Profile")</li>
  
</ul>
