﻿@model MvcRaamatuKogu.Models.KasutajaAndmed

@{
    ViewBag.Title = "LisaAndmed";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<h2>LisaAndmed</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>KasutajaAndmed</legend>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.eesNimi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.eesNimi)
            @Html.ValidationMessageFor(model => model.eesNimi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pereNimi)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pereNimi)
            @Html.ValidationMessageFor(model => model.pereNimi)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.synniKuup)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.synniKuup)
            @Html.ValidationMessageFor(model => model.synniKuup)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
