﻿@model MvcRaamatuKogu.Models.Item

@{
    ViewBag.Title = "Muuda";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<h2>Muuda</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Item</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.CategoryId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CategoryId)
            @Html.ValidationMessageFor(model => model.CategoryId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AutorId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AutorId)
            @Html.ValidationMessageFor(model => model.AutorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Lisatud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Lisatud)
            @Html.ValidationMessageFor(model => model.Lisatud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.laenutatud)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.laenutatud)
            @Html.ValidationMessageFor(model => model.laenutatud)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsPublic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsPublic)
            @Html.ValidationMessageFor(model => model.IsPublic)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CoverArtUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CoverArtUrl)
            @Html.ValidationMessageFor(model => model.CoverArtUrl)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.aktiivne)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.aktiivne)
            @Html.ValidationMessageFor(model => model.aktiivne)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
