﻿<ul id="categories">
<li><h2 class="pealkiri">Minu andmed</h2></li>
  <li>Kasutaja: @User.Identity.Name </li>
  <li>@Html.ActionLink("Change password", "ChangePassword", "Account")</li>
  <li>@Html.ActionLink("Lisa raamat", "LisaRaamat", "Profile")</li>
</ul>
