﻿<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">

    <div id="header">
        <h1>Library in MVC</h1>
         <p style="float:right; margin:10px;">
            built with <a href="http://asp.net/mvc">ASP.NET MVC 3</a>
        </p>
               @if (Request.IsAuthenticated)
        {
            <p style="float: right; clear:right; margin-right:220px;">
                Logged in as @User.Identity.Name
            </p>
        }
        else
        {
            <p style="float: right; clear:right; margin-right:220px;">
            Tere tulemast meie veebipõhisesse Raamatukokku
            </p>
        }

    </div>
    <div id="navigation">
     <ul id="navlist">
            <li class="first"><a href="/" id="current">Kodu</a></li>
            <li>
                @Html.ActionLink("Raamatukogu", "Index", "Raamatukogu")
            </li>
            <li>
                @Html.ActionLink("Haldamine", "Index", "RaamatukoguHaldus")
            </li>
            
                @if (Request.IsAuthenticated)
                {
                    <li>
                    @Html.ActionLink("Minu Profiil", "Index", "Profile")
                    </li>
                    

                    
                    
                }
                else
                {
                    <li>
                    @Html.ActionLink("Logi sisse", "LogOn", "Account")
                    </li>
                }
            
        </ul>
                @if (Request.IsAuthenticated)
                {
                    <div class="logoff">
                   @Html.ActionLink("Logi välja", "LogOff", "Account")
                   </div>
                }
    </div>
    <div id="content">
        <div id="left">
            @{Html.RenderAction("UserInfo", "Profile");}
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
    <div id="footer">

    </div>
</div>
</body>
</html>
