﻿@model MvcRaamatuKogu.Models.Item

@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}
 @Html.ValidationSummary(true)
<h2>Toode: @Model.Title</h2>

<ul>
<li>Toote autor:  @Html.ActionLink(Model.Autors.Perekonnanimi, "BrowseAutor", new { autor = Model.Autors.Perekonnanimi })</li>
<li>Toote olek: @Model.laenutatud</li>
<li>Toote kategooria: @Html.ActionLink(Model.Categories.Name, "Browse", new { category = Model.Categories.CategoryId })</li>
<li>Toote lisamis kuupäev: @Html.DisplayFor(model => Model.Lisatud)</li>
</ul>
