﻿@model IEnumerable<MvcRaamatuKogu.Models.Item>
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Browse";
}

<h2>Kasutaja raamatud</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Title,
"Details", new { id = item.ItemId },"Raamatukogu")</li>
    }
</ul>