﻿@model List<MvcRaamatuKogu.Models.Item>


@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = User.Identity.Name;
}

<h3>Teie raamatud</h3>
<p>

</p>
<p>
    There are  @Model.Count() books in this category</p>
<ul id="album-list">
    @foreach (var item in Model)
    {
        
        <li>
        <img alt="@item.Title" src="../@item.CoverArtUrl" />
        @Html.ActionLink(item.Title,"Book", new { id = item.ItemId })
        </li>
    }
</ul>
